.wrapper{
  display:flex;
  height: 100vh;
  position:relative;
}

.features{
  flex: 0 0 150px;
  height: 100%;
  overflow-y: auto;
}

#plot-wrapper{
  flex: 1;
  min-width: 0;
}

@media (min-width: 992px) {
  .modal-xl {
    max-width: 900px;
  }
}

.fs-value-wrapper {
  position:absolute;
  bottom:0;
  right:0;
}
